<form [formGroup]="formCliente">
  <div class="card-body w-50">
    <h5 class="card-title text-center">Cadastrar Clientes</h5>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nome</label>
      <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">E-mail</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvarDados()">Cadastrar</button>
  </div>
</form>
